*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
		background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.header {
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}	
.Main{
	height: 100%;
	width: 100%;
	position: absolute; 
}
.main-box{
	width:85%;
	height: 75%;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
}
.verify-box {
	width: 20%;
	height: 20%;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
}
.verify-btn{
	width: 250px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	color: white;
	margin: auto;
	background: linear-gradient(to bottom, #2B4161 0%, #000000 100%);
	border:0;
	outline: none;
	border-radius: 30px;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	color: white;
	margin-top:20px;
	margin-left: 20px;
	margin-right:20px;
	background: linear-gradient(to bottom, #2B4161 0%, #000000 100%);
	border:0;
	outline: none;
	border-radius: 30px;
}
.input-group{
	top: 100px;
	position: relative;
	margin: auto;
	width: 280px;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin-top: 100px;
	margin-bottom:10px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: #ffffff;
}
.check-box{
	text-align: center;
	margin-top:10px;
	position:relative;
}
.check-box input {
	margin: 0px 5px 0px 5px;
}
.check-box label{
	color: #777;
	font-size: 12px;
	padding: 5px;
	position: absolute; 
}
.wrapper{
  height: 60px;
  width: 1000px;
  background: #fff;
  margin: auto;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.wrapper nav{
  position: relative;
  display: flex;
  background: #262626;
  border-radius: 50px;
   
}
.wrapper nav label{
  flex: 1;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.wrapper nav label a{
  position: relative;
  z-index: -1;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
  text-transform: uppercase;
}
.wrapper nav #course-catalog:checked ~ label.course-catalog a,
.wrapper nav #available-courses:checked ~ label.available-courses a,
.wrapper nav #my-schedule:checked ~ label.my-schedule a,
.wrapper nav #saved-schedules:checked ~ label.saved-schedules a,
.wrapper nav #reserved-times:checked ~ label.reserved-times a{
  color: #fff;
}
.wrapper nav label a i{
  font-size: 25px;
  margin: 0 7px;
}
.wrapper nav .tab{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper nav #available-courses:checked ~ .tab{
  left: 20%;
}
.wrapper nav #my-schedule:checked ~ .tab{
  left: 40%;
}
.wrapper nav #saved-schedules:checked ~ .tab{
  left: 60%;
}
.wrapper nav #reserved-times:checked ~ .tab{
  left: 80%;
}
.wrapper nav input{
  display: none;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 10px;
  background-color: #a9a9a9;
  text-align: right;
  color: black;
  font-size: 8px;
}
.catalog_table {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	font-size: 25px;
	text-align: left;
}
ul {
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	border-radius: 50px;
}

li {
	float: left;
	padding: 10px;
}

	li a {
		display: list-item;
		color: white;
		text-align: center;
		padding: 14px 16px;
		font-size: 20px;
		text-decoration: none;
	}

		/* Change the link color to #111 (black) on hover */
		li a:hover {
			background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%)
		}

.button-box {
	width: 100%;
	height: 5%;
	position: relative;
	margin: 1% auto;
	display: flex;
	justify-content: center;
}

.menu-btn {
	width: 100%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	color: white;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background: linear-gradient(to bottom, #2B4161 0%, #000000 100%);
	border: 0;
	outline: none;
	border-radius: 30px;
}