*{
	margin: 0;
	padding:0;
}
.log_reg_background{
	height: 100%;
	width: 100%;
	background-image: url('images/main_background.svg');
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form_box{
	width: 200 px;
	height: 200 px;
	position: absolute;
	margin: 6% auto;
	background: white;
	padding: 5px;	
}
.log_reg_button_box{
	width: 100 px;
	height: 50px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #000000;
	border-radius: 30px;
}
.log_reg_button{
		padding: 10px 50px;
		cursor: pointer;
		background:transparent;
		border: 0;
		outline: none;
		position: relative;
		font-size:20px;
		font-weight: bold;
		color: white;
}
#log_reg_button_id{
	top: 0;
	left:0;
	position: absolute;
	width: 275px;
	height: 40px;
	background: linear-gradient(to bottom, #2B4161, #000000);
	border-radius: 30px;
	transition: .5s;
}